@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding:0px;
    margin:0px ;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@layer components{
.myCont{
    @apply container lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] xl:max-w-[1200px] mx-auto;
}
.stickyActive{
    @apply bg-fprimary z-50 -mt-[28px] sticky top-0 lg:block hidden;
}
.stickyN{
    @apply bg-transparent z-50 -mt-[28px] sticky top-0 lg:block hidden;
}
.heroBtn{
    @apply bg-fprimary hover:bg-fsecondary hover:text-white max-md:text-[22px] max-md:px-[15px] max-md:py-[15px] text-[28px] py-[15px] px-[20px] font-bold text-fsecondary no-underline;
}
.page{
    @apply relative lg:-mt-[150px];
}
.home{
    @apply relative lg:-mt-[62px];
}
.mypadding{
    @apply max-sm:py-[56px] max-md:py-[80px] py-[110px] max-sm:px-[16px];
}
.footerpadding{
    @apply max-sm:py-[50px] max-md:py-[70px] py-[90px] max-sm:px-[16px];
}
.sub{
    @apply [&_h3]:text-ftone [&_h3]:font-normal [&_h3]:text-2xl lg:[&_h3]:text-4xl md:[&_h3]:text-3xl leading-8;
}
.stats{
    @apply  [&_h4]:font-extrabold [&_h4]:text-2xl lg:[&_h4]:text-4xl md:[&_h4]:text-3xl leading-8;
}
.statsub{
    @apply  [&_h5]:font-extrabold [&_h5]:text-xl lg:[&_h5]:text-[28px] md:[&_h5]:text-2xl leading-8;
}
.body{
    @apply [&_p]:mb-4 lg:[&_p]:text-xl [&_p]:font-medium text-fsecondary leading-7;
}
.title{
    @apply [&_h2]:text-fsecondary [&_h2]:mb-5 [&_h2]:text-[40px] [&_h2]:font-semibold leading-10;
}
}